#colorToolsFlexContainer {
    background-color: #252525; 
    color: #fdfdfd;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}
#colorPalette {
    overflow-y: auto;
    padding: 0.5em;
}
#colorPickers {
    padding: 0.5em;
    transform: scaleX(1);
    transform-origin: 0%;
}